Source: libalog
Section: libs
Priority: optional
Maintainer: Adrian-Ken Rueegsegger <ken@codelabs.ch>
Uploaders: Reto Buerki <reet@codelabs.ch>
Build-Depends: debhelper (>= 7), quilt, gnat, gnat-4.4, libahven1-dev, libaws2.7-dev,
 libapq-postgresql1-dev
Standards-Version: 3.8.4
Homepage: http://www.nongnu.org/alog/
Vcs-Git: git://git.savannah.nongnu.org/alog.git
Vcs-Browser: http://git.savannah.nongnu.org/gitweb/?p=alog.git

Package: libalog0.3-base
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnat-4.4
Conflicts: libalog0, libalog0.3-full
Replaces: libalog0, libalog0.3-full
Description: Logging framework for Ada (base)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog base provides file-based and syslog logging facilities
 and log-level support.

Package: libalog0.3-full
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnat-4.4
Conflicts: libalog0, libalog0.3-base
Replaces: libalog0, libalog0.3-base
Description: Logging framework for Ada (full)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog full offers more facilities than Alog base, notably
 SMTP, PostgreSQL and XMPP/Jabber.

Package: libalog1-base-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libalog0.3-base (= ${binary:Version}), gnat-4.4
Conflicts: libalog-dev, libalog1-full-dev
Replaces: libalog-dev, libalog1-full-dev
Description: Logging framework for Ada (development)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog base provides file-based and syslog logging facilities
 and log-level support.
 .
 This package contains the development files.

Package: libalog1-full-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libalog0.3-full (= ${binary:Version}), libaws2.7-dev,
 libapq-postgresql1-dev, gnat-4.4
Conflicts: libalog-dev, libalog1-base-dev
Replaces: libalog-dev, libalog1-base-dev
Description: Logging framework for Ada (development)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog full offers more facilities than Alog base, notably
 SMTP, PostgreSQL and XMPP/Jabber.
 .
 This package contains the development files.

Package: libalog-base-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libalog0.3-base (= ${binary:Version}),
 libalog1-base-dev (= ${binary:Version})
Conflicts: libalog-full-dbg
Replaces: libalog-full-dbg
Description: Logging framework for Ada (debug)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog base provides file-based and syslog logging facilities
 and log-level support.
 .
 This package contains the debugging symbols.

Package: libalog-full-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libalog0.3-full (= ${binary:Version}),
 libalog1-full-dev (= ${binary:Version})
Conflicts: libalog-base-dbg
Replaces: libalog-base-dbg
Description: Logging framework for Ada (debug)
 Alog is a logging framework for Ada and aims to be straight forward to use and
 easily extendable. Alog full offers more facilities than Alog base, notably
 SMTP, PostgreSQL and XMPP/Jabber.
 .
 This package contains the debugging symbols.
